<div>
    <div class="login-box">
        <div class="login-logo">
            <a><b>Admin</b>Demo</a>
        </div>
        <div class="login-box-body login-box-vi">
            <div>
                <div class="form-group has-feedback">
                    <input [(ngModel)]="Username" (keyup.enter)="loginSubmit()" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input [(ngModel)]="Password" (keyup.enter)="loginSubmit()" type="password" class="form-control" placeholder="Şifre">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button (click)="loginSubmit()" type="button" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
                    </div>
                </div>
            </div>

            <a href="/main/forgotPassword">Şifremi Unuttum</a><br>
            <a href="/main/register">Kayıt Ol</a>
        </div>
    </div>
</div>