<div>
    <div>
        <h3><img src="" alt="Logo" /></h3>
    </div>
    <div>
        <div>
            <div>
                <input [(ngModel)]="Username" (keyup.enter)="loginSubmit()" type="text" placeholder="Kullanıcı Adı" />
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <input [(ngModel)]="Password" (keyup.enter)="loginSubmit()" type="password" placeholder="Şifre" />
            </div>
        </div>
    </div>
    <div>
        <span class="pull-left"><a>Şifremi Unuttum</a></span>
        <span class="pull-right"><a (click)="loginSubmit()">Giriş</a></span>
    </div>
</div>